{% extends "EmilyRacineBundle::layout.html.twig" %}
{% block title %}Accueil CRUD{% endblock %}
{% block content %}
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
          <h1>Accueil CRUD</h1>
          <p>Pour accéder à la liste de tous les articles, veuillez <a href="{{ path("CRUD_article_index") }}">cliquer ici</a>.</p>
        </div>
        
        <table class="table">
        <tbody>
        {% for article in articles %}
            <tr>
                <td><a href="{{ path('CRUD_article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                <td>{{ article.title }}</td>
                <td>{{ article.text }}</td>
                <td>{% if article.date %}{{ article.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{article.utilisateurid}}</td>
                <td>{% for section in article.section%}
               {{section}}
               {% if not loop.last %} |     
                {% endif %}
                {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        
        
        
    </div>
{% endblock %}